{% extends 'base.html' %}
{% load static %}

{% block title %}Login / Sign Up - Code Gears{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'core/css/login_signup.css' %}">
<div class="login-signup-container">
    <!-- Login Form -->
    <div id="login-form" class="{% if not signup_form.errors %}active{% else %}inactive{% endif %}">
        <h2>Login</h2>
        <form id="loginForm" method="post" action="{% url 'users:login' %}">
            {% csrf_token %}
            {{ login_form.as_p }}
            <button type="submit">Login</button>
        </form>
        <div id="login-error-message">
            {% if login_form.errors %}
                <ul>
                    {% for error in login_form.non_field_errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        <p>Don't have an account? <a href="#" id="show-signup">Sign Up</a></p>
    </div>
    
    <!-- Sign-Up Form -->
    <div id="signup-form" class="{% if signup_form.errors %}active{% else %}inactive{% endif %}">
        <h2>Sign Up</h2>
        <form id="signupForm" method="post" action="{% url 'users:signup' %}" novalidate>
            {% csrf_token %}
            {{ signup_form.as_p }}
            <button type="submit">Sign Up</button>
        </form>
        <div id="signup-error-message">
            {% if signup_form.errors %}
                <ul>
                    {% for error in signup_form.non_field_errors %}
                        <li>{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
        <p>Already have an account? <a href="#" id="show-login">Login</a></p>
    </div>
</div>

<script src="{% static 'core/js/scripts.js' %}"></script>
{% endblock %}
