<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Code Gears{% endblock %}</title>
    <link rel="icon" type="image/x-icon" href="{% static 'core/images/logo.png' %}">
    <link rel="stylesheet" href="{% static 'core/css/styles.css' %}">
</head>
<body>
    <header>
        <img src="{% static 'core/images/logo.png' %}" alt="Code Gears Logo" class="logo">
        <h1>Code Gears</h1>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'core:login_signup' %}">Login / Sign Up</a></li>
            </ul>
        </nav>        
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer>
        <p>&copy; 2024 Code Gears. All rights reserved.</p>
    </footer>
</body>
</html>
